<meta property="og:title" content="صباح الخير">
<meta property="og:description" content="أتمنى لك صباحًا مشرقًا ومليئًا بالخير">
<meta property="og:image" content="https://photos-i5bk.onrender.com/static/sabah.jpg">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="صباح الخير">
<meta name="twitter:description" content="أتمنى لك صباحًا مشرقًا ومليئًا بالخير">
<meta name="twitter:image" content="https://photos-i5bk.onrender.com/static/sabah.jpg">
